@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-gameplay: "Gameplay", monospace;
  --font-jogan-soft: "Jogan Soft", sans-serif;
}
@font-face {
  font-family: "Jogan Soft";
  src: url("/JoganSoft-Regular.ttf");
}
.font-joganSoft {
  font-family: "Jogan Soft";
}
body {
  color: var(--foreground);
  background-color: #111;
}
